<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Edge Tech Java Spring Boot Framework</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div align="center" th:if="${param.error}"></div>
    <address>
        <p th:text="${name}">ETA</p>
        <p th:text="${address1}">ETA</p>
        <p th:text="${address2}">ETA</p>
<!--        <p th:text="${city}, ${state} ${zip}">ETA</p>-->
        <abbr title="Phone">P:</abbr>
        682-334-5678
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</body>
</html>
